<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <import resource="spring-mybaties.xml"/>

    <bean id="uuidGenerator" class="org.activiti.engine.impl.persistence.StrongUuidGenerator" />

    <!-- 单例json对象 -->
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <!-- 配置流程引擎配置信息对象 -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="databaseSchemaUpdate" value="none"/>
        <property name="jobExecutorActivate" value="false"/>
        <property name="databaseType" value="mysql" />
        <property name="activityFontName" value="宋体"/>
        <property name="labelFontName" value="宋体"/>

        <!-- 自定义MyBatis映射接口 -->
        <property name="customMybatisMappers">
            <set>

                <value>com.msjf.finance.pas.bpm.dao.mapper.DeploymentQueryMapper</value>

            </set>
        </property>
    </bean>



    <!-- 配置流程引擎 -->
    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
    </bean>

    <!-- 配置六个服务Bean -->
    <bean id="repositoryService" factory-bean="processEngine"
          factory-method="getRepositoryService" />
    <bean id="runtimeService" factory-bean="processEngine"
          factory-method="getRuntimeService" />
    <bean id="taskService" factory-bean="processEngine"
          factory-method="getTaskService" />
    <bean id="historyService" factory-bean="processEngine"
          factory-method="getHistoryService" />
    <bean id="formService" factory-bean="processEngine"
          factory-method="getFormService" />
    <bean id="identityService" factory-bean="processEngine"
          factory-method="getIdentityService" />
    <bean id="managementService" factory-bean="processEngine"
          factory-method="getManagementService"/>
		  
	    <bean id="globalEventListener" class="com.msjf.finance.pas.bpm.listener.GlobalEventListener">
        <property name="handlers">
            <map>
                <entry key="TASK_CREATED" value="taskCreateListener"/>
                <entry key="TASK_COMPLETED" value="taskCompleteListener"/>
                <entry key="TASK_ASSIGNED" value="taskAssignedListener"/>
                <entry key="PROCESS_COMPLETED" value="processCompleteListener"/>
                <entry key="ENTITY_CREATED" value="EntityCreatedListener"/>
                <entry key="ACTIVITY_STARTED" value="activityStartedListener"/>
                <entry key="ACTIVITY_COMPLETED" value="activityCompletedListener"/>
                <entry key="ACTIVITY_SIGNALED" value="activitySignaledListener"/>
            </map>
        </property>
    </bean>

    <bean id="taskCreateListener" class="com.msjf.finance.pas.bpm.listener.TaskCreateListener">
        <property name="taskAssignLoader">
            <ref bean="defaultTaskAssignLoaderImpl" />
        </property>
    </bean>
    <bean id="taskCompleteListener" class="com.msjf.finance.pas.bpm.listener.TaskCompleteListener"></bean>
    <bean id="taskAssignedListener" class="com.msjf.finance.pas.bpm.listener.TaskAssignedListener">	</bean>
    <bean id="processCompleteListener" class="com.msjf.finance.pas.bpm.listener.ProcessCompleteListener"></bean>
    <bean id="EntityCreatedListener" class="com.msjf.finance.pas.bpm.listener.EntityCreatedListener"></bean>
    <bean id="activityStartedListener" class="com.msjf.finance.pas.bpm.listener.ActivityStartedListener">
        <property name="taskAssignLoader">
            <ref bean="defaultTaskAssignLoaderImpl" />
        </property>
    </bean>
    <bean id="activityCompletedListener" class="com.msjf.finance.pas.bpm.listener.ActivityCompletedListener"></bean>
    <bean id="activitySignaledListener" class="com.msjf.finance.pas.bpm.listener.ActivitySignaledListener"></bean>

    <bean id="defaultTaskAssignLoaderImpl" class="com.msjf.finance.pas.bpm.service.impl.DefaultTaskAssignLoaderImpl"></bean>

</beans>